#header .logo {
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center center;
    width: 300px;
    height: 97px;
    margin: 0 auto;
}