/**
 * @author Jan-Christoph Borchardt, http://jancborchardt.net
 * @copyright Copyright (c) 2015, ownCloud, Inc.
 * @license AGPL-3.0
 *
 * This code is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License, version 3,
 * as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License, version 3,
 * along with this program.  If not, see <http://www.gnu.org/licenses/>
 */


/* header color */
/* this is the main brand color */
#body-user #header,
#body-settings #header,
#body-public #header {
	background-color: #4e4c4d;
}

/* log in screen background color */
/* gradient of the header color and a brighter shade */
/* can also be a flat color or an image */
#body-login {
	background: #fff; 
}

/* primary action button, use sparingly */
/* header color as border, brighter shade again, here as background */
.primary,
input[type="submit"].primary,
input[type="button"].primary,
button.primary,
.button.primary,
.primary:active,
input[type="submit"].primary:active,
input[type="button"].primary:active,
button.primary:active,
.button.primary:active {
	border-color: #745bca;
	background-color: #947bea;
}
.primary:hover,
input[type="submit"].primary:hover,
input[type="button"].primary:hover,
button.primary:hover,
.button.primary:hover,
.primary:focus,
input[type="submit"].primary:focus,
input[type="button"].primary:focus,
button.primary:focus,
.button.primary:focus {
	background-color: #8b75e4;
}
.primary:active, input[type="submit"].primary:active, input[type="button"].primary:active, button.primary:active, .button.primary:active,
.primary:disabled, input[type="submit"].primary:disabled, input[type="button"].primary:disabled, button.primary:disabled, .button.primary:disabled,
.primary:disabled:hover, input[type="submit"].primary:disabled:hover, input[type="button"].primary:disabled:hover, button.primary:disabled:hover, .button.primary:disabled:hover,
.primary:disabled:focus, input[type="submit"].primary:disabled:focus, input[type="button"].primary:disabled:focus, button.primary:disabled:focus, .button.primary:disabled:focus {
	background-color: #745bca;
}

/* use logos from theme */
#header .logo {
	background-image: url('../img/logo.png');
	width: 300px;
	height: 97px;
}
#header .logo-icon {
	background-image: url('../img/logo-icon.png');
	width: 190px;
    height: 34px;
	background-size: 93px 30px;
	padding-left: 100px;
}


footer[role=contentinfo]{
	text-align: left;
	padding:30px;
}

h1, h2, h3 {
	padding:0;
	

}

h1 {
	font-size:26px;
	padding-bottom:15px;
	padding-top:30px;
}
h2 {
	font-size:22px;
	margin-bottom:0;
	padding-bottom:15px;
	padding-top:30px;
}
h3 {
	font-size:16px;
	margin:0;
	padding-bottom:10px;
}


section[role=chemnitz]{
	background-image: url(../img/chemnitz-silhouette.jpg);
    height: 275px;
}

#body-login footer, #body-login .push {
    height:initial;
    background-color: #4e4c4d;
    color:white;
}

#body-login .wrapper {
    min-height: 70%;
}